LLM_BINDING=gemini
LLM_MODEL=gemini-flash-lite-latest
LLM_BINDING_API_KEY=your_API_KEY
LLM_BINDING_HOST=https://generativelanguage.googleapis.com

EMBEDDING_BINDING=gemini
EMBEDDING_MODEL=gemini-embedding-001
EMBEDDING_DIM=1536
EMBEDDING_TOKEN_LIMIT=2048
EMBEDDING_BINDING_HOST=https://generativelanguage.googleapis.com
EMBEDDING_BINDING_API_KEY=your_API_KEY
## Gemini embedding requires sending dimension to server
EMBEDDING_SEND_DIM=true

